{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2>{{ post.title | safe }}</h2>
            </div>
            <div class="card-body">
                <p>{{ post.content | safe }}</p>
                <small>by <strong>{{ post.author.username }}</strong></small>
                <div class="mt-3">
                    <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Posts</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

